<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - <%=webName%></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <h1>Welcome to <%=webName%></h1>
    <a href="/auth/register">Register</a>
    <a href="/auth/login">Login</a>
    <%- include('partials/footer') %>
</body>
</html>
