<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - <%= webData.webName %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('partials/header') %>

    <div class = "container">
        <h2>Login</h2>

        <!-- Display the error message as a popup if there is an existing user -->
        <script>
            <% if (error) { %>
                alert('<%= error %>');
            <% } %>
        </script>
        
        <form action="/auth/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
