body {
    background-color: #f8f9fa;
}

.card img {
    border-radius: 0.25rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

footer {
    background-color: #212529; /* Dark background */
    color: #f8f9fa; /* Light text color for better contrast */
    padding: 1rem 0;
    text-align: center;
    margin-top: auto;
}

.fullscreen-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 0;
    width: 100%;
    margin: 0;
}

.fullscreen-center .card {
    width: 400px; /* Card width */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for the card */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: -190px;
}

.error-page-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.product-buttons {
    display: flex;
    gap: 8px;
}